# Build/Dist
build/
dist/
out/
*.exe

# Ignore Python wheel files
wheels/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
# Ignore compiled Python files
__pycache__/

# Ignore environment directories
.venv/

# Ignore vscode settings
.vscode/

# Ignore json files
*.json
*.jsonl
!unit_types.json

# Ignore coverage reports
.coverage
htmlcov/

# Ignore node modules and build artifacts
node_modules/
dist/
src-tauri/target/
src-tauri/tauri.dev.conf.json
.DS_Store

!package.json
!tsconfig.json
!src-tauri/tauri.conf.json